/* ========== GOOGLE FONT ==========  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    /* COLORS */
    --primary-color: #b3040d; 

    --white: #ffffff;
    --black: #000000;
    --dark: #222222;
}

/* ==========  RESET & HELPERS ==========  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #777;
    line-height: 1.8;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--dark);
    line-height: 1.2;
    margin-bottom: .625rem;
}

.h1 {
    font-size: 3.375rem;
}

.h2 {
    font-size: 2.25rem;
}

.h3 {
    font-size: 1.75rem;
}

.h4 {
    font-size: 1.5rem;
}

.h5 {
    font-size: 1.125rem;
}

@media (max-width: 600px) {
    .h1 {
        font-size: 2.375rem;
    }

    .h2 {
        font-size: 2rem;
    }

    .h3 {
        font-size: 1.5rem;
    }

    .h4 {
        font-size: 1.25rem;
    }
}

.intro-text {
    max-width: 600px;
    margin: 0 auto 40px auto;
    text-align: center;
}


a {
    text-decoration: none;
    transition: all 0.4s ease;
    color: var(--dark);
}

a:hover {
    color: #b3040d;
}

img {
    width: 100%;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    width: 3.75rem;
    height: 3.75rem;
    display: inline-flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
    border-radius: 0;
    font-size: 1.5rem;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.owl-theme .owl-dots .owl-dot span{
    width: .875rem;
    height: .875rem;
}

.owl-theme .owl-dots .owl-dot.active span{
    background-color: var(--primary-color);
}

.hover-effect {
    transition: all 0.4s ease;
    border-bottom: .1875rem solid transparent;
}

.hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    border-bottom-color: var(--primary-color);
}

.two-col-grid {
    display: -ms-grid;
    display: grid;

    -ms-grid-column: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
}

@media (max-width: 992px) {
    .two-col-grid {
        -ms-grid-column: 1fr;
        grid-template-columns: 1fr;
    }   
}

.three-col-grid {
    display: -ms-grid;
    display: grid;

    -ms-grid-column: repeat(3 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: center;
}

@media (max-width: 992px) {
    .three-col-grid {
        -ms-grid-column: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }   
}

@media (max-width: 560px) {
    .three-col-grid {
        -ms-grid-column: 1fr;
        grid-template-columns: 1fr;
    }   
}

.four-col-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: repeat(4 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    align-items: center;
}

@media (max-width: 992px) {
    .four-col-grid {
        -ms-grid-column: 1fr 1fr; 
        grid-template-columns: 1fr 1fr;
    }   
}

@media (max-width: 560px) {
    .four-col-grid {
        -ms-grid-column: 1fr;
        grid-template-columns: 1fr;
    }   
}

/* ==========  NAVBAR ==========  */
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
    border-bottom: .0625rem solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .navbar {
        background-color: var(--dark);
    }
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    flex: none;
}

.logo img {
    width: unset;
}

.nav-items {
    display: flex;
    transition: all 0.4s ease;
}

.nav-items .nav-item {
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.4s ease;
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8125rem;
    letter-spacing: 0.5px;
}

.nav-items .nav-item:hover {
    color: var(--white);
}

.nav-toggler {
    width: 3.375rem;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    font-size: 1.375rem;
    transition: all 0.3s ease;
    display: none;
}

.nav-toggler:hover {
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-items {
        position: absolute;
        background-color: var(--dark);
        width: 100%;
        top: 100%;
        left: -100%;
        flex-direction: column;
        padding-top: 24px;
        padding: 24px;

    }

    .nav-items .nav-item {
        margin-top: 8px;
        display: block;
    }

    .nav-toggler {
        display: flex;
    }

    .show {
        left: 0;
    }
}

/* ==========  HERO ==========  */
.hero-slider {
    position: relative;
}

.hero-slider .owl-nav {
    width: 100%;
}

.hero-slider .owl-nav button.owl-prev,
.hero-slider .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: .125rem solid rgba(255, 255, 255, 0.3);
    color: var(--white);
}

.hero-slider .owl-nav button.owl-prev:hover,
.hero-slider .owl-nav button.owl-next:hover {
    border-color: var(--primary-color);
}

.hero-slider .owl-nav button.owl-prev {
    left: 1.5rem;
}

.hero-slider .owl-nav button.owl-next {
    right: 1.5rem;
}

.hero-slider .owl-dots{
    position: absolute;
    bottom: 1.875rem;
    left: 50%;
    transform: translateX(-50%);
}



.slide {
    min-height: 100vh;
    background-image: url(../images/cover_1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.slide-2 {
    min-height: 100vh;
    background-image: url(../images/cover_2.jpg);
    background-position: center;
    background-size: cover;

}


.slide h1 {
    color: var(--white);
    text-transform: uppercase;
}

.slide p {
    margin: 1.5rem 2rem auto auto;
    max-width: 700px;
}

.btn {
    padding: .75rem 1.75rem;
    display: inline-block;
    color: var(--white);
    background-color: var(--primary-color);
    border: .125rem solid var(--primary-color);
    font-size: .8125rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .0313rem;
    box-shadow: 0 .25rem 1.25rem rgba(0,0,0,0.5);
    transition: all 0.3s ease;
    margin: .25rem;
}

.btn:hover {
    color: var(--white);
    transform: translateY(3px);
    box-shadow: none;
}

.btn-outline-light {
    border-color: var(--white);
    background-color: transparent;
}

.btn-outline-light:hover {
    background-color: var(--white);
    color: var(--dark);
}


/* ==========  SERVICES ==========  */
.service {
    padding: 1.5rem;
    text-align: center;
}

.icon-box {
    font-size: 3.375rem;
    color: var(--primary-color);
    position: relative;
    display: inline-block;
    z-index: 2;
}

.service h3 {
    margin-top: 1rem;
}

.icon-box::after {
    content: " ";
    position: absolute;
    top: 44%;
    left: 40%;
    z-index: -1;
    background: linear-gradient(rgba(179, 4, 13, 0.7), rgba(179, 4, 13, 0.184));
    width: 2.5rem;
    height: 2.5rem;
}

/* ==========  PORTFOLIO ==========  */
.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    height: 100%;
}

.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
    color: #c4c4c4;
}

.portfolio-item .h4 {
    color: var(--white);
}

.portfolio-btn {
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    font-size: 1.625rem;
    color: var(--white);
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    transition: all 0.4s ease;
}

.portfolio-btn:hover {
    transform: rotate(45deg);
    color: var(--white);
}

.portfolio-item:hover .overlay {
    left: 0;
}

/* ==========  TEAM ==========  */
.team-member .content {
    padding: 1rem;
    text-align: center;
}

/* ==========  REVIEWS ==========  */
.review {
    padding: 1.5rem;
    position: relative;
}

.review .quote {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8.75rem;
    opacity: 0.1;
}

.review .stars {
    color: var(--primary-color);
}

.review .person {
    display: flex;
    align-items: center;
}

.review .person img {
    width: 4.375rem;
    margin-right: 1.125rem;
}

.review .person .h5 {
    margin-bottom: .375rem;
}

.review .person p {
    margin: 0;
}

.review .saying {
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
}


/* ==========  BLOG ==========  */
.blog-post .content {
    padding: 1.5rem;
}

.blog-post .content .btn {
    padding: .5rem 1.125rem;
}

/* ==========  CONTACT ==========  */
.contact-info {
    text-align: center;
    padding: 1.5rem;
}

.form {
    width: 100%;
    padding: 3.75rem;
    margin-top: 2.5rem;
}

@media (max-width: 768px) {
    .form {
        padding: 1.5rem;
    }
}

.form-group {
    margin-bottom: 1rem;
}

.form-gorup,
.form-control {
    width: 100%;
    display: inline-block;
}

.form-control {
    background-color: rgb(240, 240, 240);
    border: .0625rem solid transparent;
    font-family: "Poppins";
    padding: 16px;
    font-size: .875rem;
}

.form-control:focus {
    outline: 0;
    border-color: var(--primary-color);
}

button.btn {
    font-family: "Poppins";
}

.google-map {
    width: 100%;
    min-height: 25rem;
}

/* FOOTER */
.footer-top {
    background-color: var(--dark);
    padding-top: 6.25rem;
    padding-bottom: 3.75rem;
}

.footer-top .h4 {
    color: var(--white);
}

.footer-top a {
    color: #777;
}

.footer-top a:hover {
    color: var(--white);
}

.footer-top img {
    width: unset;
}

.footer-bottom {
    background-color: #111;
    text-align: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.footer-bottom p {
    margin: 0;
}